//$gray : #d3d3d3;
$yellow : #ffff66;
$citiesTemp-width : 17%;

.well {
  background-image: url("https://vmcdn.ca/f/files/sudbury/sun-sky-2017.jpg;w=630");
  border: 3px solid black;
  padding: 40px 80px;

}

.btn-success {
  font-weight: bold;
  text-align: center;
  background: $yellow;
  color: black;
}
  #citiesTemp{
    font-size: 20px;
    display: grid;
   grid-template-columns: $citiesTemp-width $citiesTemp-width $citiesTemp-width $citiesTemp-width $citiesTemp-width;
   grid-template-rows: 50px;
   grid-gap: 3%;
  }

  #map {
    height: 50%;
    width: 50%;
    margin-left: 100px
  }
